*{
    font-size: 1.05em;
    font-family: consolas;
    background-color:rgb(80, 77, 77);
}
.briefing{
    margin: 0 auto;
    border-radius: 2%;
    width: 72%;
    background-color:rgb(21, 20, 20);
}

.briefing .Texte form{
    background-color:rgb(21, 20, 20);
}

.briefing .Texte form p{
    width: 70%;
    text-align: center;
    background-color: rgb(21, 20, 20);
}

.briefing .Texte form p input{
    color: rgb(14, 204, 14);
    border-radius: 5px;
    border-style: none;
    background-color: rgb(57, 55, 55);
    font-size: 1.2em;
    
}

.briefing .Texte{
    background-color:rgb(21, 20, 20);
    color: rgb(14, 204, 14);
    width: 70%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 5%;
}

.briefing .Texte p{
    background-color:rgb(21, 20, 20);
    color: rgb(14, 204, 14);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.briefing .Texte #Titre{
    background-color:rgb(21, 20, 20);
    color: rgb(14, 204, 14);
}

.briefing .Texte ul{
    background-color:rgb(21, 20, 20);
    color: rgb(14, 204, 14);
    list-style: disc;
}

.briefing .Texte li{
    background-color:rgb(21, 20, 20);
    color: rgb(14, 204, 14);
}

/* =================================================================*/
                        /* PAGE CONNEXION */
/* =================================================================*/

.nom_utilisateur{

    border-radius: 10px;
    width:20%;
    margin-top:20%;
    text-align: center;
}

.message_secret{
    border-radius: 10px;
    width:20%;
    text-align: center;
    margin-left:1.3%;
}

.BoutonValidation{
    margin-top:2%;
    margin-left:15%;
}
/* =================================================================*/
/* =================================================================*/

.alignement_au_centre{
    width:100%;
    text-align:center;
}

.alignement_input{
    margin-left:-5%;
    text-align:center;
    position:relative;
}

.console_reponse{
    height: 350px;
    overflow: auto;
    margin: 0 auto;
    width: 72%;
    background-color:rgb(21, 20, 20);
    margin-top: 15%;
}

.console_reponse .reponse{
    background-color:rgb(21, 20, 20);
    color: rgb(14, 204, 14);
    width: 70%;
    margin: -5%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.console_reponse .reponse p{
    background-color:rgb(21, 20, 20);
    color: rgb(14, 204, 14);
    width: 70%;
    margin: 0 auto;
}

.fieldset {
    position: absolute;
    top: 4%;
    left: 5%;
}



